[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
flask-sqlalchemy = "*"
flask-swagger = "*"
flask-swagger-ui = "*"
flask = "*"
flasgger = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.9"